* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 100%;
    min-height: 100vh;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imc {
    min-width: 600px;
    margin: 0 auto;
    border-radius: .5em;
    background: #FFFFFF;
    padding: 2em 1em;
}
.imc h1 {
    font-size: 2.5em;
}
.imc__container {
    display: flex;
    padding: 1.5em 0;
}
.imc__container .imc__info p, .imc__container .imc__result p{
    font-size: 1em;
    padding: .2em 0;
}
.imc__container .imc__result {
    padding-left: 8em;
}
.imc__form h2 {
    font-size: 2em;
    padding-bottom: .5em;
}
.imc__form label, input {
    display: block;
    width: 100%;
    font-size: 1.3em;
}
.imc__form input {
    margin: .5em 0;
    padding: 0.3em;
}
.imc__form .form__submit {
    background: #333;
    color: #FFF;
    transition: all .3s ease-in-out;
}
.imc__form .form__submit:hover {
    background: #008000;
    color: #FFF;
    border: 2px solid #333;
}
.form__result p {
    background: #333;
    color: #FFF;
    padding: .5em 0 .5em .5em;
    margin-bottom: .2em;
}
.form__result .bad {
    background: #FF0000;
}